<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= product.price / 10 %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
      <%= link_to remove_item(product_id: product_id), class: 'btn btn-xs btn-danger', method: :delete do %>
        -
      <% end %>
      <%= quantity %>
      <%= link_to add_item(product_id: product_id), class: 'btn btn-xs btn-success', method: :put do %>
        +
      <% end %>
    </td>
  <td>
    <%= product.price / 10 * quantity %>
  </td>
</tr>
